h1{
    position: fixed;
    text-align: center;

}
.container-fluid{
    height:721px;
    width:100%;
    margin:0;
    background-color: #78DEC7;
    display:flex;
}
.art{
    border-radius: 15px;
    box-shadow:0 1px 1px 5px white;
    position: fixed;
    top:12%;
    left:25%;
    background-image:-webkit-linear-gradient(45deg, #A6F0C6 40%,#B5EAEA 60%);
    width: 50%;
    height: 75%;
    border-radius: 5%;
}
.art2{
    text-align: center;
    border-radius: 15px;
    box-shadow:0 1px 1px 5px white;
    position: fixed;
    top:12%;
    left:80%;
    background-image:-webkit-linear-gradient(45deg, #A6F0C6 40%,#B5EAEA 60%);
    width: 12%;
    height: 75%;
    border-radius: 5%;
}
.btn-success{
    margin-top: 10px;
    font-size: 100%;
    width:100%;
}
.fis{
    margin-left:15%;
    border-radius: 15px;
}
.just{
    width:100%;
    position:sticky;
    top:68%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display:inline;
    width: 50%;
}

.volume{
    position: relative;
    top:80%;
    left:37%;
}
.progressBar{
    width: 50%;
    flex:0;
    flex-basis: 0;
    background-image: linear-gradient(to right,#00008f,#001c50);
}
img{
    border-radius: 100%;
    position: absolute;
    height: 200px;
    width: 200px;
    left:37%;
    top:8%;
    box-shadow: 0 10px 10px black;
}
.title{
    position: absolute;
    left:32%;
    top:55%
}
.progresscheck{
    display: flex;
    flex:10;
    position: relative;
    top:68%;
    width: 100%;
    background-color:skyblue ;
    flex-basis: 100%;
    height: 5px;
    
}
@media screen and(max-width:1024px) {
    .just{
        top:60%;
    }
    .fis{
        margin-left: 5%;
    }
}
 @media screen and (max-width:768px) {
    .fis{
        margin-left: 7%;
    }
    img{
        height: 150px;
        width: 150px;
        position:absolute;
        left:22%;
    }
    .title{
        position: absolute;
        top:47%;
        left:12%;
    }
    .volume{
        position: relative;
        top:75%;
        left:10%;
    }
    .progresscheck{
        position: relative;
        top:62%;
    }
    .just{
        display: flex;
        flex-shrink: 1;
        flex-basis:1 ;
        top:60%;
        width:100%;
    }
    .icons{
        display: inline;
        width:100%;
    }
    .art{
        width: 70%;
        left: 15%;
        
    }
    .art2{
        object-fit: scale-down;
        display: none;
    }
} 
